user = "root"

machine = {
    "name": 'your-test-server',
    "ssh_port": 22
}

indico_inst_dir = "/opt/indico"
indico_conf_dirname = "etc"

httpd_conf_dir = "/etc/httpd/conf"
httpd_confd_dir = "/etc/httpd/conf.d"

ssl_certs_dir = "/etc/ssl/certs/"
ssl_private_dir = "/etc/ssl/private/"

ssl_pem_path = "ssl/certs/ssl-cert-snakeoil.pem"
ssl_key_path = "ssl/private/ssl-cert-snakeoil.key"
